.main-header{
    width: 100%;
    height: 90px;
    position: fixed;
    top:0;
    right: 0;
    background-color: #fff;
    border-bottom: 1px solid #54b948;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    padding:0 1rem 0 0;
}

.logo-container{
    height: 100%;
}
